
.formulario{    
    background-color: #E7EEE6;
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
    text-align: justify;  
    border-radius: 15px; 
    padding: 15px;
}

.formulario h1{
    font-size: 25px;
    margin: 15px;
}

.formulario p{
    font-size: 15px;
    margin: 5px;
}

.inputs label {
    font-size: 15px;
    font-weight: bold;
}

.inputs{
    margin-top: 50px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.texto_input:hover{
    border: 2px solid rgb(153, 153, 187);
}

.texto_input{

    width: 350px;
    height: 50px;
}

button{

    width: 250px;
    height: 50px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 30px;
}

button:hover{
    background-color: rgb(100, 98, 98);
}

@media (max-width: 1600px) {
    .formulario{
         width: 50%;
    }

    .texto_input{
        width: 335px;
        height: 35px;
    }

    button{
        width: 235px;
        height: 35px;
    }
}

@media (max-width: 1366px) {
    .formulario{
         width: 40%;
    }

    .texto_input{
        width: 335px;
        height: 35px;
    }

    button{
        width: 235px;
        height: 35px;
    }
}

@media (max-width: 968px) {
    .formulario{
         width: 45%;
    }

    .texto_input{
        width: 335px;
        height: 35px;
    }

    button{
        width: 235px;
        height: 35px;
    }
}


@media (max-width: 840px) {
    .formulario{
         width:60%;
    }

    .texto_input{
        width: 330px;
        height: 30px;
    }

    button{
        width: 230px;
        height: 30px;
    }
}

@media (max-width: 640px) {
    .formulario{
         width:65%;
    }

    .texto_input{
        width: 330px;
        height: 30px;
    }

    button{
        width: 230px;
        height: 30px;
    }
}


@media (max-width: 568px) {
    .formulario{
         width: 85%;                  
    }    

    .texto_input{
        width: 330px;
        height: 30px;
    }

    button{
        width: 230px;
        height: 30px;
    }
}

@media (max-width: 432px) {
   
    .formulario{
        width: 90%;
    }
    .texto_input{
        width: 310px;
        height: 25px;
    }

    button{
        width: 310px;
        height: 25px;
        font-size: 15px;
    }

    .container{
        padding: 15px;
    }
}

@media (max-width: 400px) {
    
    .texto_input{
        width: 300px;
        height: 20px;
    }

    button{
        width: 300px;
        height: 20px;
        font-size: 15px;
    }

    .container{
        padding: 10px;
    }
}