
#contacto{
    color: #5E7722; 
    text-decoration:  underline 2px;
}

.container {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h2{
    padding: 10px;
    margin-top: 30px;
    font-size: 30px;    
}

p{
    padding: 10px;
    font-size: 20px;
    margin:10px;
}

.formulario{    
    background-color: #E7EEE6;
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
    text-align: justify;  
    border-radius: 15px; 
}

.inputs{
    margin-top: 50px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.texto_input:hover{
    border: 2px solid rgb(153, 153, 187);
}

.texto_input{

    width: 350px;
    height: 50px;
}

button{

    width: 250px;
    height: 50px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 20px;

}

button:hover{
    background-color: rgb(100, 98, 98);
}

@media (max-width: 1226px) {
    .formulario{
         width: 40%;
    }

    .texto_input{
        width: 340px;
        height: 40px;
    }

    button{
        width: 240px;
        height: 40px;
    }
}

@media (max-width: 900px) {
    .formulario{
         width: 45%;
    }

    .texto_input{
        width: 335px;
        height: 35px;
    }

    button{
        width: 235px;
        height: 35px;
    }
}

@media (max-width: 988px) {
    .formulario{
         width: 50%;
    }

    .texto_input{
        width: 335px;
        height: 35px;
    }

    button{
        width: 235px;
        height: 35px;
    }
}

@media (max-width: 808px) {
    .formulario{
         width: 60%;
    }

    .texto_input{
        width: 330px;
        height: 30px;
    }

    button{
        width: 230px;
        height: 30px;
    }
}

@media (max-width: 768px) {
    .formulario{
         width: 70%;
    }

    .texto_input{
        width: 330px;
        height: 30px;
    }

    button{
        width: 230px;
        height: 30px;
    }
}

@media (max-width: 682px) {
    .formulario{
         width: 80%;
    }

    .texto_input{
        width: 330px;
        height: 30px;
    }

    button{
        width: 230px;
        height: 30px;
    }
}

@media (max-width: 658px) {
    .formulario{
         width: 80%;
    }

    .texto_input{
        width: 330px;
        height: 30px;
    }

    button{
        width: 230px;
        height: 30px;
    }
}

@media (max-width: 553px) {
    .formulario{
         width: 90%;
    }
    
     .texto_input{
        width: 325px;
        height: 30px;
    }

}

@media (max-width: 470px) {
    .formulario{
         width: 100%;
    }

    .texto_input{
        width: 310px;
        height: 30px;
    }
}

@media (max-width: 400px) {
    .formulario{
         width: 100%;
    }

    .texto_input{
        width: 300px;
        height: 30px;
    }
}